SUPABASE_URL=https://wzwjjjajmyfwvspxysjb.supabase.co
SUPABASE_ANON_KEY=PASTE_STAGING_ANON_KEY_HERE

RLS_NORMAL_EMAIL=normal@staging.ahorroya.test
RLS_NORMAL_PASSWORD=PASTE_TEMP_PASSWORD_HERE

RLS_ADMIN_EMAIL=admin@staging.ahorroya.test
RLS_ADMIN_PASSWORD=PASTE_TEMP_PASSWORD_HERE

RLS_INTERNAL_EMAIL=internal@staging.ahorroya.test
RLS_INTERNAL_PASSWORD=PASTE_TEMP_PASSWORD_HERE
